
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-to-start-alt:before { content: '\e801'; } /* '' */
.icon-to-start:before { content: '\e802'; } /* '' */
.icon-to-end-alt:before { content: '\e803'; } /* '' */
.icon-to-end:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-fast-fw:before { content: '\e806'; } /* '' */
.icon-fast-bw:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-trash:before { content: '\e80a'; } /* '' */
.icon-folder-open-empty:before { content: '\e80b'; } /* '' */
.icon-volume-up:before { content: '\e80c'; } /* '' */
.icon-volume-down:before { content: '\e80d'; } /* '' */
.icon-volume-off:before { content: '\e80e'; } /* '' */
.icon-desktop:before { content: '\e80f'; } /* '' */
.icon-jsfiddle:before { content: '\e810'; } /* '' */
.icon-tencent-weibo:before { content: '\e811'; } /* '' */
.icon-align-justify:before { content: '\e812'; } /* '' */
.icon-note:before { content: '\e813'; } /* '' */
.icon-compass:before { content: '\e814'; } /* '' */
.icon-rss:before { content: '\e815'; } /* '' */
.icon-shuffle:before { content: '\e816'; } /* '' */
.icon-exchange:before { content: '\e817'; } /* '' */
.icon-history:before { content: '\e818'; } /* '' */
.icon-location:before { content: '\e819'; } /* '' */
.icon-mic:before { content: '\e81a'; } /* '' */
.icon-note-beamed:before { content: '\e81b'; } /* '' */
.icon-heart:before { content: '\e81c'; } /* '' */
.icon-heart-empty-1:before { content: '\e81d'; } /* '' */
.icon-mail:before { content: '\e81e'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */